[submodule "Operating Systems/P2"]
	path = Operating Systems/P2
	url = git@github.com:Symforian/P2.git

[submodule "Operating Systems/P3"]
	path = Operating Systems/P3
	url = https://github.com/Symforian/P3
